body, html {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
nav {
    background-color: #ffe9e9;
    color: rgb(72, 72, 72);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: rgb(72, 72, 72);
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
    font-weight: 300;
}

nav a:hover {
    background-color: #fff7f7;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.image-card {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-card p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffe9e9;
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 500px) {
    .gallery-grid {
        grid-template-columns: 1fr; /* Stack images vertically on smaller screens */
    }
}
